@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .heroBtn{
        @apply px-6 py-2 rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:text-[#fcfcfc]
    }
}